<h1>hello</h1>

<p>This is a paragraph</p>
{{#if posts}}
    {{#each posts}}
        <p>{{{title}}}</p>
        <p>{{content}}</p>
        <p>{{postDate}}</p>
        <a href="{{{postUrl}}}">Link</a>
        <a href="#" id="deletePost" value="{{simpleTitle}}">Delete</a>
    {{/each}}
{{else}}
    {{#if post}}
        <p>{{post.title}}</p>
        <p>{{post.content}}</p>
        <p>{{post.postDate}}</p>
        <a href="{{{post.postUrl}}}">Link</a>
        <a href="#" id="deletePost" value="{{post.simpleTitle}}">Delete</a>
    {{/if}}
{{/if}}

<form id="form" enctype="multipart/form-data" action="/api/posts" method="post">
    <input type="text" name="content">
    <input type="file" name="upload">
    <textarea name="title" id="title" rows="8" cols="40"></textarea>
    <input type="submit">
</form>

<script>
    $(document).ready(function() {
        $('a#deletePost').on('click', function(e) {
            e.preventDefault();
            post = $(this).attr('value');
            $.ajax({
                url: "/api/posts/" + post,
                type: "DELETE"
            }).done(function() {
                console.log('deleted');
                location.href = '/posts';
            });
        });

        $('textarea#title').redactor({
            focus: true,
            imageUpload: '/upload',
            imageManagerJson: '/uploads/imagelist.json',
            fileUpload: '/upload',
            fileManagerJson: '/uploads/imagelist.json',
            plugins: ['table', 'video', 'imagemanager']
        });

    });
</script>