<!-- Page Heading -->
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Panel title</h3>
        </div>
        <div class="panel-body">
            Panel content
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Posted on</th>
                            <th>Author</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#if posts}}
                            {{#each posts}}
                                <tr>
                                    <td><a href="{{{postUrl}}}">{{title}}</a>
                                    </td>
                                    <td>{{postDate}}</td>
                                    <td>{{author}}</td>
                                    <td>
                                        <a href="/admin/posts/{{simpleTitle}}" value="{{simpleTitle}}" id="editPost">E</a>
                                    </td>
                                    <td>
                                        <a href="#" value="{{simpleTitle}}" id="deletePost">X</a>
                                    </td>
                                </tr>
                            {{/each}}
                        {{else}}
                            <tr>
                                <td colspan="5">No posts made!</td>
                            </tr>
                        {{/if}}

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.row -->